@media (prefers-color-scheme: dark) {
    .all {
        color: yellow;
        background: black;
    }
    .all .main {
        padding: 6%;
    }
    .all .dialog {
        border: solid 1px yellow;
        padding: 3%;
    }
    .all .link {
        color: yellow;
    }
    .all .name {
        color: yellow;
        text-decoration: none;
    }
    .all .codes {
        background: #111111;
        padding: 2%;
    }
}