@media (prefers-color-scheme: light) {
    .all {
        color: black;
        background: #f1f1f1;
    }
    .all .main {
        padding: 6%;
    }
    .all .dialog {
        border: solid 1px black;
        padding: 3%;
    }
    .all .link {
        color: black;
    }
    .all .name {
        color: black;
        text-decoration: none;
    }
    .all .codes {
        background: #ccc;
        padding: 2%;
    }
}