@media (prefers-color-scheme: light) {
    .all {
        color: blue;
        background: white;
    }
    .all .main {
        padding: 6%;
    }
    .all .dialog {
        border: solid 1px blue;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 5%;
    }
    .all .link {
        color: blue;
    }
    .all .name {
        color: blue;
        text-decoration: none;
    }
    .all .codes {
        background: #f6f6f6;
        padding: 2%;
    }
}